*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14192C;
    color: #fff;
}

/* HELPERS */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}


.container {
    max-width: 1280px;
    margin: 0 auto;

}

.container h1 {
    text-align: center;
    padding: 16px 0;
    letter-spacing: 2px;
    text-shadow: 4px 2px 8px #F46001
}

.boxes-section .box {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 16px;
    margin: 16px;
    flex: 0 0 calc(50% - 32px);
}

.boxes-section .box > *:not(:last-child) {
    margin-bottom: 12px;
}

.boxes-section .box img{
    width: 100%;
}

.btn {
    font-size: 16px;
    letter-spacing: 1.2px;
    background: linear-gradient(to bottom, #F46001, #E14802);
    border: none;
    color: #fff;
    border-radius: 100px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
    transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
    outline: none;
}

.btn:hover {
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
}

.btn:active {
    transform: scale(.9);
}


@media(max-width: 724px) {
    .boxes-section .box {
        flex: 1;
        min-width: 250px;
    }
}